body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: teal;
    line-height: 2;
    text-align: center;
}
main{
    width: 50%;
    margin: auto;
    line-height: 32px;
}
footer{
    background-color: teal;
    color: darkslategray;
    font-size: 24px;
    text-align: center;
    line-height: 32px;
}
h1, h2{
background-color: mediumaquamarine;
letter-spacing: 0.5em;
text-align: center;
}
h1{
    color: darkslategray;
    letter-spacing: 0.5em;
    word-spacing: 0.5em;
    font-size: x-large;
}
h2{
    color: dimgray;
    font-size: medium;
    text-align: left;
}
.item-detail{
    font-weight: bold;
    font-style: italic;
}
.img-link{
    width: 30px;
    height: 30px;
    
   
}